.test {
  padding: 190px 0 120px 0;
  .testTitle {
    font-family: var(--font-soyuz);
    font-weight: 700;
    font-size: 108px;
    line-height: 1.2em;
    text-transform: uppercase;
    color: #0046fe;
    text-align: center;
  }

  .testSubtitle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 25px;
    line-height: 1.3em;
    text-align: center;
    color: #424242;
    margin-bottom: 400px;
  }

  .questionTitle {
    font-family: var(--font-soyuz);
    font-weight: 700;
    font-size: 42px;
    font-size: calc(24px + 18 * (100vw / 1440));
    line-height: 1.2em;
    color: #344054;
    margin-bottom: 25px;
  }

  .forward {
    position: relative;
    margin-bottom: 300px;

    &::after {
      content: "";
      position: absolute;
      width: 275px;
      height: 109px;
      top: -140px;
      left: -50px;
      background: url("../../../public/images/forward.svg") no-repeat
        center/cover;
    }
  }

  .checkboxWrapper {
    gap: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    & p {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 18px;
      line-height: 1.3em;
      color: #344054;
    }
  }

  .investments {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;

    &::after {
      content: "";
      position: absolute;
      width: 275px;
      height: 109px;
      top: -140px;
      right: -50px;
      background: url("../../../public/images/interesting.svg") no-repeat
        center/cover;
    }
  }

  .fromWrapper {
    position: relative;
    width: 100%;
    max-width: 700px;
    margin: 300px auto 0;

    &::after {
      content: "";
      position: absolute;
      width: 275px;
      height: 109px;
      top: -100px;
      left: -100px;
      background: url("../../../public/images/question.svg") no-repeat
        center/cover;
    }
  }

  .formTitle {
    font-family: var(--font-soyuz);
    font-weight: 700;
    font-size: 68px;
    font-size: calc(24px + 45 * (100vw / 1440));
    line-height: 1.2em;
    text-transform: uppercase;
    color: #1f1f1f;
    margin-bottom: 15px;
  }

  .formSubtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3em;
    color: #424242;
    margin-bottom: 30px;
    max-width: 365px;
  }

  .formInpWrapper {
    margin-bottom: 30px;
    & label {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 18px;
      line-height: 130%;
      color: #344054;
    }

    & .formInput {
      border: 1px solid #d0d5dd;
      border-radius: 8px;
      padding: 12px 16px;
      width: 100%;
      max-width: 700px;
      height: 48px;
      box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
      background: #fff;
      font-family: var(--third-family);
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #667085;

      &:active {
        outline: 1px solid var(--color-blue);
        outline: 1px solid var(--color-blue);
      }
      &:focus {
        outline: 1px solid var(--color-blue);
        border: 1px solid var(--color-blue);
      }
    }
  }

  .formBtn {
    font-family: var(--third-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5em;
    color: #fff;
    background-color: var(--color-blue);
    width: 100%;
    padding: 12px;
    border-radius: 8px;

    &:active {
      opacity: 0.5;
      outline: 1px solid var(--color-blue);
      outline: 1px solid var(--color-blue);
    }
    &:focus {
      outline: 1px solid var(--color-blue);
      border: 1px solid var(--color-blue);
    }
  }
}

.react-tel-input {
  &.arrow {
    background-color: red;
    width: 40px;
    height: 20px;
  }
}
.checkboxWrapper {
  display: flex;
  align-items: center;
}

.customCheckbox {
  display: flex;
  cursor: pointer;
  font-size: 16px;
  color: #333;
}

.customCheckbox input {
  display: none;
}

.customCheckbox .checkbox {
  // border: 1px solid #d0d5dd;
  // border-radius: 6px;
  // width: 20px;
  // height: 20px;
  // position: relative;
  // margin-right: 15px;
  // margin-top: 5px;
  // transition: background-color 0.3s, border-color 0.3s;
  position: relative;
  border: 1px solid #d0d5dd;
  border-radius: 6px;
  width: 20px; /* Фиксированная ширина */
  height: 20px; /* Фиксированная высота */
  min-width: 20px; /* Защита от уменьшения */
  min-height: 20px;
  margin-right: 15px;
  margin-top: 5px;
  transition: background-color 0.3s, border-color 0.3s;
  flex-shrink: 0; /* Предотвращает сжатие в flex-контейнере */
}

.customCheckbox input:checked + .checkbox {
  background-color: #007bff;
  border-color: #007bff;
}

.customCheckbox .checkbox::after {
  content: "";
  position: absolute;
  width: 12px; /* Размер галочки */
  height: 12px;
  top: 50%; /* Центрирование по вертикали */
  left: 50%; /* Центрирование по горизонтали */
  transform: translate(-50%, -50%); /* Смещение в центр */
  background: url("../../../public/images/arrow.svg") no-repeat center/contain;
}

@media (max-width: 1400px) {
  .test {
    .investments {
      position: relative;
      max-width: 1000px;
      margin: 0 auto;

      &::after {
        content: "";
        position: absolute;
        width: 275px;
        height: 109px;
        top: -140px;
        right: 150px;
        background: url("../../../public/images/interesting.svg") no-repeat
          center/cover;
      }
    }
  }
}

@media (max-width: 1300px) {
  .test {
    .testTitle {
      font-size: 80px;
    }
    .forward {
      &::after {
        left: 50px;
        width: 234px;
        height: 90px;
      }
    }

    .investments {
      &::after {
        width: 208px;
        height: 74px;
        top: -90px;
        right: 100px;
      }
    }
  }
}

@media (max-width: 991px) {
  .test {
    padding: 120px 0 120px 0;

    .fromWrapper {
      &::after {
        content: "";
        position: absolute;
        width: 200px;
        height: 81px;
        top: -90px;
        left: -4px;
      }
    }
  }
}

@media (max-width: 768px) {
  .test {
    .forward {
      margin-bottom: 200px;
    }
    .testTitle {
      font-size: 57px;
    }
    .testSubtitle {
      margin-bottom: 300px;
    }

    .forward {
      &::after {
        top: -80px;
        left: 27px;
        width: 141px;
        height: 57px;
      }
    }
    .investments {
      &::after {
        width: 170px;
        height: 59px;
        top: -68px;
        right: 70px;
      }
    }
  }
}

@media (max-width: 500px) {
  .test {
    padding: 100px 0;

    .testSubtitle {
      margin-bottom: 200px;
    }

    .fromWrapper {
      &::after {
        content: "";
        position: absolute;
        width: 150px;
        height: 53px;
        top: -60px;
        left: -4px;
        background: url("../../../public/images/question.svg") no-repeat
          center/contain;
      }
    }
    .forward {
      margin-bottom: 132px;
    }
    .testTitle {
      font-size: 45px;
    }
    .testSubtitle {
      font-size: 18px;
    }

    .fromWrapper {
      margin: 170px auto 0;
    }

    .checkbox {
      margin-top: 0;
      background-color: var(--color-white);
    }

    .customCheckbox {
      border-radius: 10px;
      padding: 5px 10px;
      align-items: center;
      line-height: 1.3em;
      background-color: #f4f4f4;
    }

    .formInpWrapper {
      margin-bottom: 25px;
    }
  }
}

@media (max-width: 420px) {
  .test {
    .testTitle {
      font-size: 34px;
    }
  }
}
