.mine {
  padding: 50px 0;

  .wrapper {
    display: flex;
    justify-content: space-between;
  }

  .mineContainer {
    padding: 0 30px;
  }

  .mainTitle {
    position: relative;
    text-align: center;
    color: var(--color-black);
    font-family: var(--font-soyuz);
    font-weight: 700;
    font-size: 42px;
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;
    color: #1f1f1f;
    max-width: 505px;
    margin: 0 auto 70px;

    &::after {
      content: "";
      position: absolute;
      bottom: -50px;
      left: 10px;
      width: 500px;
      height: 250px;
      background: url("../../../public/images/mineTitle.png") no-repeat
        center/contain;
      z-index: -1;
    }
  }

  .innerText {
    color: var(--color-black);
  }

  .innerTitle {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 26px;
    line-height: 1.3em;
    color: #1f1f1f;
    position: relative;
    color: var(--color-black);
    margin-bottom: 50px;

    &::after {
      content: "";
      position: absolute;
      width: 300px;
      height: 150px;
      bottom: 0;
      left: 0;
      background: url("../../../public/images/mineTitle.png") no-repeat
        center/contain;
      z-index: -1;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
    }
  }

  .minelistLeft {
    width: 100%;
    max-width: 380px;

    .mineItem {
      &:nth-child(1) {
        margin-bottom: 100px;
        .innerTitle {
          &::after {
            bottom: -38px;
            left: -38px;
          }
          &::before {
            top: -59px;
            left: 241px;
            width: 180px;
            height: 110px;
            background: url("../../../public/images/arrow1.svg") no-repeat
              center/contain;
          }
        }
      }
      &:nth-child(2) {
        .innerTitle {
          &::after {
            width: 400px;
            height: 185px;
            bottom: -48px;
            left: -30px;
            background: url("../../../public/images/mineTitleThird.png")
              no-repeat center/contain;
          }
          &::before {
            top: -358px;
            left: 315px;
            width: 160px;
            height: 350px;
            background: url("../../../public/images/arrow3.svg") no-repeat
              center/contain;
          }
        }
      }
    }
  }

  .minelistRight {
    width: 100%;
    max-width: 372px;
    margin-top: 80px;

    .mineItem {
      &:nth-child(1) {
        margin-bottom: 100px;
        .innerTitle {
          max-width: 275px;

          &::after {
            width: 310px;
            height: 152px;
            bottom: -30px;
            left: -22px;
          }
          &::before {
            top: -210px;
            left: 30px;
            width: 100px;
            height: 150px;
            background: url("../../../public/images/arrow2.svg") no-repeat
              center/contain;
          }
        }
      }
      &:nth-child(2) {
        .innerTitle {
          &::after {
            width: 450px;
            height: 186px;
            bottom: -32px;
            left: -81px;
            background-image: url("../../../public/images/mineTitleАourth.png");
          }
          &::before {
            left: -131px;
            top: -450px;
            width: 108px;
            height: 424px;
            background: url("../../../public/images/arrow4.svg") no-repeat
              center/contain;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .mine {
    .minelistLeft {
      width: 100%;
      max-width: 380px;

      .mineItem {
        &:nth-child(1) {
          margin-bottom: 100px;
          .innerTitle {
            &::after {
              bottom: -38px;
              left: -38px;
            }
            &::before {
              top: -30px;
              left: 238px;
              width: 160px;
              height: 100px;
            }
          }
        }
        &:nth-child(2) {
          .innerTitle {
            &::after {
              width: 400px;
              height: 185px;
              bottom: -48px;
              left: -30px;
              background: url("../../../public/images/mineTitleThird.png")
                no-repeat center/contain;
            }
            &::before {
              top: -330px;
              left: 331px;
              width: 125px;
              height: 300px;
            }
          }
        }
      }
    }

    .minelistRight {
      width: 100%;
      max-width: 372px;
      margin-top: 80px;

      .mineItem {
        &:nth-child(1) {
          margin-bottom: 100px;
          .innerTitle {
            max-width: 275px;

            &::after {
              width: 310px;
              height: 152px;
              bottom: -30px;
              left: -22px;
            }
            &::before {
              top: -210px;
              left: 70px;
              width: 100px;
              height: 140px;
            }
          }
        }
        &:nth-child(2) {
          .innerTitle {
            &::after {
              width: 450px;
              height: 186px;
              bottom: -32px;
              left: -81px;
              background-image: url("../../../public/images/mineTitleАourth.png");
            }
            &::before {
              left: -100px;
              top: -435px;
              width: 76px;
              height: 407px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .mine {
    .minelistRight {
      width: 100%;
      max-width: 372px;
      margin-top: 80px;

      .mineItem {
        &:nth-child(1) {
          .innerTitle {
            &::before {
              left: 130px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .mine {
    .mainTitle {
      font-size: 35px;
      margin: 0 auto 280px;

      &::after {
        height: 215px;
      }
    }

    .wrapper {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .minelistLeft {
      width: 100%;
      max-width: 380px;
      gap: 180px;
      display: flex;
      flex-direction: column;
      margin-bottom: 180px;

      .mineItem {
        &:nth-child(1) {
          margin-bottom: 100px;
          .innerTitle {
            &::after {
              left: 37px;
            }
            &::before {
              width: 76px;
              height: 170px;
              top: -225px;
              left: 145px;
              transform: rotate(-14deg) scaleX(-1);
              background: url("../../../public/images/arrow2.svg") no-repeat
                center/contain;
            }
          }
        }
        &:nth-child(2) {
          .innerTitle {
            &::after {
              width: 450px;
            }
            &::before {
              width: 76px;
              height: 170px;
              top: -250px;
              left: 170px;
              transform: rotate(15deg);
              background: url("../../../public/images/arrow2.svg") no-repeat
                center/contain;
            }
          }
        }
      }
    }

    .minelistRight {
      width: 100%;
      max-width: 372px;
      margin-top: 80px;
      gap: 180px;
      display: flex;
      flex-direction: column;

      .mineItem {
        &:nth-child(1) {
          .innerTitle {
            margin: 0 auto 50px;
            &::before {
              width: 76px;
              height: 170px;
              top: -240px;
              left: 88px;
              transform: rotate(-15deg) scaleX(-1);
              background: url("../../../public/images/arrow2.svg") no-repeat
                center/contain;
            }
          }
        }
        &:nth-child(2) {
          .innerTitle {
            &::after {
              left: -43px;
            }
            &::before {
              width: 76px;
              height: 170px;
              top: -250px;
              left: 150px;
              transform: rotate(15deg);
              background: url("../../../public/images/arrow2.svg") no-repeat
                center/contain;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .mine {
    padding: 67px 0 30px;
    overflow: hidden;

    .mainTitle {
      font-size: 29px;
      max-width: 322px;
      margin: 0 auto 223px;

      &::after {
        height: 168px;
        left: -80px;
        bottom: -35px;
      }
    }

    .minelistLeft {
      width: 100%;
      max-width: 380px;
      gap: 100px;
      display: flex;
      flex-direction: column;
      margin-bottom: 130px;

      .mineItem {
        &:nth-child(1) {
          margin-bottom: 100px;
          .innerTitle {
            &::after {
              left: 37px;
            }
            &::before {
              width: 76px;
              height: 113px;
              left: 145px;
              top: -170px;
              transform: rotate(-14deg) scaleX(-1);
              background: url("../../../public/images/arrow2.svg") no-repeat
                center/contain;
            }
          }
        }
        &:nth-child(2) {
          .innerTitle {
            &::after {
              width: 450px;
            }
            &::before {
              width: 76px;
              height: 113px;
              top: -180px;
              left: 170px;
              transform: rotate(15deg);
              background: url("../../../public/images/arrow2.svg") no-repeat
                center/contain;
            }
          }
        }
      }
    }

    .minelistRight {
      width: 100%;
      max-width: 372px;
      margin-top: 80px;
      gap: 130px;
      display: flex;
      flex-direction: column;

      .mineItem {
        &:nth-child(1) {
          .innerTitle {
            margin: 0 auto 50px;
            &::before {
              width: 76px;
              height: 113px;
              top: -185px;
              left: 88px;
              transform: rotate(-15deg) scaleX(-1);
              background: url("../../../public/images/arrow2.svg") no-repeat
                center/contain;
            }
          }
        }
        &:nth-child(2) {
          .innerTitle {
            &::after {
              left: -43px;
            }
            &::before {
              width: 76px;
              height: 113px;
              top: -200px;
              left: 150px;
              transform: rotate(15deg);
              background: url("../../../public/images/arrow2.svg") no-repeat
                center/contain;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .mine {
    .innerTitle {
      font-size: 24px;
    }

    .mainTitle {
      &::after {
        height: 160px;
        margin: 30px auto 223px;
        margin: 0 auto;
      }
    }

    .minelistLeft {
      width: 100%;
      max-width: 380px;
      gap: 100px;
      display: flex;
      flex-direction: column;
      margin-bottom: 130px;

      .mineItem {
        &:nth-child(1) {
          margin-bottom: 100px;

          .innerTitle {
            max-width: 200px;
            margin: 0 auto 50px;
            &::after {
              left: -35px;
            }
            &::before {
              width: 76px;
              height: 113px;
              left: 55px;
              top: -170px;
              transform: rotate(-14deg) scaleX(-1);
              background: url("../../../public/images/arrow2.svg") no-repeat
                center/contain;
            }
          }
        }
        &:nth-child(2) {
          .innerTitle {
            &::after {
              width: 450px;
            }
            &::before {
              width: 76px;
              height: 113px;
              top: -180px;
              left: 170px;
              transform: rotate(15deg);
              background: url("../../../public/images/arrow2.svg") no-repeat
                center/contain;
            }
          }
        }
      }
    }

    .minelistRight {
      width: 100%;
      max-width: 372px;
      margin-top: 80px;
      gap: 130px;
      display: flex;
      flex-direction: column;

      .mineItem {
        &:nth-child(1) {
          .innerTitle {
            margin: 0 auto 50px;
            &::before {
              width: 76px;
              height: 113px;
              top: -185px;
              left: 88px;
              transform: rotate(-15deg) scaleX(-1);
              background: url("../../../public/images/arrow2.svg") no-repeat
                center/contain;
            }
          }
        }
        &:nth-child(2) {
          .innerTitle {
            &::after {
              left: -43px;
            }
            &::before {
              width: 76px;
              height: 113px;
              top: -200px;
              left: 150px;
              transform: rotate(15deg);
              background: url("../../../public/images/arrow2.svg") no-repeat
                center/contain;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .mine {
    .mainTitle {
      &::after {
        bottom: -30px;
      }
    }

    .minelistLeft {
      width: 100%;
      max-width: 380px;
      gap: 70px;
      display: flex;
      flex-direction: column;
      margin-bottom: 130px;

      .mineItem {
        &:nth-child(1) {
          margin-bottom: 100px;

          .innerTitle {
            max-width: 200px;
            margin: 0 auto 50px;
            &::after {
              left: -35px;
            }
            &::before {
              width: 76px;
              height: 113px;
              left: 55px;
              top: -170px;
              transform: rotate(-14deg) scaleX(-1);
              background: url("../../../public/images/arrow2.svg") no-repeat
                center/contain;
            }
          }
        }
        &:nth-child(2) {
          .innerTitle {
            &::after {
              left: -80px;
              bottom: -40px;
              width: 450px;
            }
            &::before {
              width: 76px;
              height: 113px;
              top: -160px;
              left: 110px;
              transform: rotate(15deg);
              background: url("../../../public/images/arrow2.svg") no-repeat
                center/contain;
            }
          }
        }
      }
    }

    .minelistRight {
      width: 100%;
      max-width: 372px;
      margin-top: 80px;
      gap: 130px;
      display: flex;
      flex-direction: column;

      .mineItem {
        &:nth-child(1) {
          margin-bottom: 50px;
          .innerTitle {
            margin: 0 auto 50px;
            &::before {
              width: 76px;
              height: 113px;
              top: -185px;
              left: 88px;
              transform: rotate(-15deg) scaleX(-1);
              background: url("../../../public/images/arrow2.svg") no-repeat
                center/contain;
            }
          }
        }
        &:nth-child(2) {
          .innerTitle {
            &::after {
              width: 395px;
              height: 155px;
              bottom: -22px;
              left: -55px;
            }
            &::before {
              width: 76px;
              height: 113px;
              top: -170px;
              left: 115px;
              transform: rotate(15deg);
              background: url("../../../public/images/arrow2.svg") no-repeat
                center/contain;
            }
          }
        }
      }
    }
  }
}
