.choice {
  position: relative;
  padding: 75px 0;
  min-height: 3000px;

  .choiceContainer {
    position: sticky;
    top: 0;
  }

  .choiceTitle {
    font-family: var(--font-soyuz);
    font-size: 42px;
    font-weight: 700;
    line-height: 1.2em;
    text-align: center;
    color: #000;
    max-width: 775px;
    margin: 0 auto 65px;
  }

  .choiceWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .choiceWrapper {
    gap: 0;
  }

  .black {
    border-radius: 10px;
    height: 590px;
    width: 100%;
    padding: 0 0 0 20px;
    margin-right: 40px;
    background: linear-gradient(90deg, #000 0%, #292929 100%);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 1s;

    .blackTextWrapper {
      max-width: 435px;
      z-index: 1;
    }

    .blackInnerTitle {
      font-family: var(--font-soyuz);
      font-weight: 700;
      font-size: 42px;
      line-height: 1.2em;
      color: #fff;
      margin-bottom: 35px;
    }

    .blackText {
      font-size: 18px;
      font-weight: 400;
      line-height: 1.3em;
      margin-bottom: 18px;
      color: var(--color-white);
    }

    .blackImagesWrapper {
      position: relative;
      height: 100%;
      width: 100%;
    }

    .blackImgWrapper {
      border-radius: 10px;
      width: 332px;
      height: 148px;
      overflow: hidden;
      position: absolute;
    }

    .blackImgFirst {
      right: -55px;
      top: 0;
    }
    .blackImgSecond {
      top: 50px;
      left: 20px;
    }
    .blackImgThird {
      top: 250px;
      left: 150px;
    }
    .blackImgFourth {
      bottom: 0;
      right: 0;
    }
    .blackImgFifth {
      width: 207px;
      height: 180px;
      right: -60px;
      top: 200px;
    }

    .blackImg {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .blackActive {
    width: 0;
    padding: 0;
    margin-right: 0;
  }

  .white {
    width: 0;
    border-radius: 10px;
    height: 590px;
    padding: 45px 0px;
    background-color: #fafafa;
    color: var(--color-black);
    display: flex;
    overflow: hidden;
    transition: all 1s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    .whiteTextWrapper {
      max-width: 45%;
      background-color: #fafafa;
    }

    .whiteTopText {
      margin-bottom: 20px;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.3em;
      margin-bottom: 18px;
      color: var(--color-black);
    }

    .whiteInnerTitle {
      color: var(--color-black);
      font-family: var(--font-soyuz);
      font-weight: 700;
      font-size: 41px;
      line-height: 1.2em;
      margin-bottom: 20px;
    }

    .whiteImagesWrapper {
      position: relative;
      width: 100%;
      height: 100%;
    }

    .whiteImgWrapper {
      border-radius: 10px;
      overflow: hidden;
      position: absolute;
    }

    .whiteImgFirst {
      width: 150px;
      height: 200px;
      top: 0px;
      right: 300px;
    }
    .whiteImgSecond {
      width: 300px;
      height: 200px;
      right: 270px;
      bottom: 40px;
    }
    .whiteImgThird {
      width: 300px;
      height: 150px;
      right: -40px;
      top: 40px;
    }
    .whiteImgFourth {
      height: 250px;
      width: 200px;
      right: 10px;
      bottom: 0px;
    }

    .whiteImg {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .whiteActive {
    width: 100%;
    padding: 45px 20px;
  }
}

@media (max-width: 1200px) {
  .choice {
    .black {
      .blackImgWrapper {
        border-radius: 10px;
        width: 280px;
        height: 148px;
        overflow: hidden;
        position: absolute;
      }

      .blackImgFirst {
        right: -55px;
        top: 0;
      }
      .blackImgSecond {
        top: 50px;
        left: 20px;
      }
      .blackImgThird {
        top: 250px;
        left: 150px;
      }
      .blackImgFourth {
        bottom: 0;
        right: 0;
      }
      .blackImgFifth {
        width: 200px;
        height: 150px;
        right: -100px;
        top: 230px;
      }
    }
    .white {
      .whiteImgWrapper {
        border-radius: 10px;
        overflow: hidden;
        position: absolute;
      }

      .whiteImgFirst {
        width: 150px;
        height: 200px;
        top: 0px;
        right: 300px;
      }
      .whiteImgSecond {
        width: 260px;
        height: 200px;
        right: 200px;
        bottom: 40px;
      }
      .whiteImgThird {
        width: 300px;
        height: 150px;
        right: -40px;
        top: 80px;
      }
      .whiteImgFourth {
        height: 200px;
        width: 160px;
        right: 10px;
        bottom: 0px;
      }
    }
  }
}

@media (max-width: 1100px) {
  .choice {
    .black {
      .blackImgWrapper {
        border-radius: 10px;
        width: 280px;
        height: 148px;
        overflow: hidden;
        position: absolute;
      }

      .blackImgFirst {
        right: -125px;
        top: 0;
      }
      .blackImgSecond {
        top: 50px;
        left: 20px;
      }
      .blackImgThird {
        top: 250px;
        left: 100px;
        width: 250px;
      }
      .blackImgFourth {
        bottom: 0;
        right: 0;
      }
      .blackImgFifth {
        width: 200px;
        height: 150px;
        right: -100px;
        top: 230px;
      }
    }
  }
}

@media (max-width: 991px) {
  .choice {
    .black {
      .blackImgWrapper {
        border-radius: 10px;
        width: 280px;
        height: 140px;
        overflow: hidden;
        position: absolute;
      }

      .blackImgFirst {
        top: 0;
        right: 0;
      }
      .blackImgSecond {
        top: 170px;
        left: 20px;
      }
      .blackImgThird {
        top: 340px;
        left: 100px;
        width: 250px;
      }
      .blackImgFourth {
        bottom: -60px;
        right: 150px;
      }
      .blackImgFifth {
        display: none;
      }
    }

    .white {
      .whiteImgWrapper {
        border-radius: 10px;
        overflow: hidden;
        position: absolute;
      }

      .whiteImgFirst {
        width: 150px;
        height: 200px;
        top: 0px;
        right: 230px;
      }
      .whiteImgSecond {
        width: 280px;
        height: 160px;
        right: 40px;
        bottom: 0px;
      }
      .whiteImgThird {
        width: 250px;
        height: 180px;
        right: -40px;
        top: 140px;
      }
      .whiteImgFourth {
        height: 200px;
        width: 160px;
        right: 10px;
        bottom: 0px;
        display: none;
      }
    }
  }
}

@media (max-width: 900px) {
  .choice {
    .black {
      .blackImgWrapper {
        border-radius: 10px;
        width: 240px;
        height: 130px;
        overflow: hidden;
        position: absolute;
      }

      .blackImgFirst {
        top: 0;
        right: 0;
      }
      .blackImgSecond {
        top: 170px;
        left: 20px;
      }
      .blackImgThird {
        top: 340px;
        left: 100px;
        width: 250px;
      }
      .blackImgFourth {
        bottom: -60px;
        right: 30px;
      }
    }
  }
}

@media (max-width: 768px) {
  .choice {
    min-height: auto;

    .choiceTitle {
      font-size: 35px;
    }

    .choiceWrapper {
      gap: 25px;
      flex-direction: column;
    }

    .black {
      width: 100%;
      max-width: 100%;
      height: 100%;
      flex-direction: column;
      margin-right: 0;
      padding-left: 0;
      .blackImagesWrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 колонки одинаковой ширины */
        grid-template-rows: repeat(2, 1fr);
        width: 100%; /* Ширина для корректного растяжения */
        height: 220px; /* Высота зависит от контента */
      }

      .blackImgWrapper {
        width: 100%; /* Занимает всю ширину ячейки */
        height: 100%; /* Занимает всю высоту ячейки */
        position: static;
        border-radius: 0;
      }

      .blackImg {
        width: 100%; /* Занимает всю ширину контейнера */
        height: 100%; /* Занимает всю высоту контейнера */
        object-fit: cover; /* Картинка обрезается, чтобы сохранить пропорции */
        display: block;
      }

      .blackTextWrapper {
        max-width: 100%;
        padding: 20px 20px 0 20px;
      }

      .blackInnerTitle {
        font-size: 35px;
      }

      .blackText {
        font-size: 16px;
      }
    }

    .white {
      width: 100%;
      max-width: 100%;
      height: 100%;
      padding: 0;
      flex-direction: column;

      .whiteImagesWrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        width: 100%;
        height: 300px;
      }

      .whiteImgWrapper {
        width: 100%;
        height: 100%;
        position: static;
        border-radius: 0;
      }

      .whiteImg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }

      .whiteTextWrapper {
        max-width: 100%;
        padding: 20px 20px 0 20px;
      }

      .whiteImgFourth {
        display: block;
      }

      .whiteInnerTitle {
        font-size: 35px;
      }

      .whiteText {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 500px) {
  .choice {
    .choiceTitle {
      font-size: 28px;
      margin: 0 auto 25px;
    }

    .black {
      .blackInnerTitle {
        font-size: 28px;
      }
    }

    .white {
      .whiteInnerTitle {
        font-size: 28px;
      }
    }
  }
}
