.receive {
  padding: 95px 0;

  .receiveTitle {
    font-family: var(--font-soyuz);
    font-weight: 700;
    line-height: 115%;
    color: var(--color-dark-gray);
    max-width: 809px;
    font-size: calc(30px + 42 * (100vw / 1440));
  }
  .receiveWrapper {
    gap: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .dubaiTower {
    width: 400px;
    height: 1283px;
    overflow: hidden;

    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .receiveList {
    gap: 100px;
    display: flex;
    flex-direction: column;
  }

  .receiveItem {
    gap: 35px;
    display: flex;
    align-items: flex-start;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 6px;
      top: calc(100% - 59px);
      width: 2px;
      height: 144px;
      background-color: var(--color-black);
    }
    &.receiveItemIntersecting::after {
      background-color: var(--color-white);
    }
  }

  .receiveText {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 42px;
    line-height: 1.2em;
    color: var(--color-black);
  }

  .receiveNumber {
    font-weight: 500;
    font-size: 26px;
    line-height: 1.2em;
    text-align: center;
    color: #000;
  }

  .receiveBottom {
    padding: 150px 0 200px 0;
    background-color: var(--color-dark-gray);
  }

  .bottomWrapper {
    margin: 0 auto 0 300px;
    max-width: 865px;
  }

  .bottomTitle {
    font-family: var(--font-adventure);
    font-weight: 400;
    font-size: 61px;
    font-size: calc(30px + 31 * (100vw / 1440));
    line-height: 131%;
    color: #fff;
  }

  .bottomText {
    font-family: var(--font-soyuz);
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    color: #fff;
    font-size: calc(24px + 14 * (100vw / 1440));

    & span {
      color: var(--color-orange);
    }
  }
}

.receiveInner {
  position: relative;
  transition: all 0.3s ease-in-out;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%; // Полностью покрывает секцию
    left: 0;
    bottom: 0;
    background-color: #fff; // Цвет наложения
    transition: height 3s ease-in-out; // Анимация уменьшения высоты
  }
}

.receiveInnerActive {
  &::after {
    height: 0;
  }
}

@media (max-width: 1200px) {
  .receive {
    .receiveList {
      gap: 60px;
    }

    .receiveItem {
      &::after {
        top: calc(75% - -2px);
        width: 2px;
        height: 49px;
      }
    }

    .receiveText {
      font-size: 30px;
    }

    .dubaiTower {
      height: 900px;
    }
  }
}

@media (max-width: 991px) {
  .receive {
    .receiveText {
      font-size: 26px;
    }

    .dubaiTower {
      height: 800px;
    }
  }
}

@media (max-width: 768px) {
  .receive {
    .dubaiTower {
      display: none;
    }

    .bottomWrapper {
      margin: 0 auto;
      max-width: 400px;
    }

    .receiveList {
      background: url("../../../public/images/dimTower.png") no-repeat
        center/contain;
      max-width: 450px;
      margin: 40px auto 0;
    }
  }
}

@media (max-width: 500px) {
  .receive {
    .receiveBottom {
      padding: 100px 0;
    }
  }
}
